# Node modules
/node_modules/

# Directorios de construcción
/dist/
.angular/cache/

# Archivos de configuración de IDE
.idea/
*.iml
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de entorno
.env
